doctype html
html
  head
    title Create New File
    link(rel='stylesheet', href='/styles.css')
  body
    h1 File Management App
    h2 Create a New File
    form(action='/create', method='post')
      label(for='filename') File Name:
      input(type='text', name='filename', id='filename')
      label(for='content') File Content:
      textarea(name='content', id='content')
      button(type='submit') Create File
    a(href='/') Back to File List
    script(src='/scripts.js')
