doctype html
html
  head
    title File Detail
    link(rel='stylesheet', href='/styles.css')
  body
    h1 File Management App
    h2 File Detail
    h3= filename
    pre
      = content
    a(href='/') Back to File List
    script(src='/scripts.js')
